<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div style="padding-top: 100px;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                            <div class="blog-details-top">
                                <span>{{'SOFTWARESOLUTIONS.SERVICE'| translate }}</span>
                                <h2 class="title">{{'SOFTWARESOLUTIONS.HEADER'| translate }}</h2>

                            </div>
                            <div class="blog-details-bath ">
                                <div class="blog-details-confarance">
                                    <div class="wow fadeInLeft mt-20 mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>
                                            {{'SOFTWARESOLUTIONS.TEXT1'| translate }}
                                        </p>
                                    </div>


                                    <div class="confarance-flex d-flex mt-20 mb-20">
                                        <div class="confarance-thumb-1 wow fadeInLeft mb-20" data-wow-duration="1s"
                                            data-wow-delay="0s">
                                            <img src="assets/images/Individuelle_Software_loesungen.jpg" alt="">
                                        </div>
                                        <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20"
                                            data-wow-duration="1s" data-wow-delay="0s">

                                            <p> {{'SOFTWARESOLUTIONS.TEXT2'| translate }} </p>
                                        </div>
                                    </div>
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <h4>
                                            {{'SOFTWARESOLUTIONS.HEADER2'| translate }}
                                            </h4>
                                        <p>{{'SOFTWARESOLUTIONS.TEXT3'| translate }}</p>
                                    </div>

                                </div>



                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4 >{{'SOFTWARESOLUTIONS.HEADER3'| translate }}</h4>
                                    <p>{{'SOFTWARESOLUTIONS.TEXT4'| translate }}
                                    </p>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-contact-component></app-contact-component>
<app-footer></app-footer>