<app-header></app-header>

<!--====== OUE CHOOSE PART START ======-->
<div class="our-choose-area" style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mt-30">
                    <span>Ihr vertrauenswürdiger Partner</span>
                    <h2 class="title">Warum mit uns zusammenarbeiten?</h2>
                </div> <!-- section title -->
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <i class="fal fa-long-arrow-right"></i> In jedem Prozessschritt behalten sie die Kontrolle
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Unser Ziel ist es ihnen in jedem Prozessschritt die vollste Transparanz zu gewähren. Wir freuen uns darauf ihr Feedback in jeder Phase zu berücksichtigen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fal fa-long-arrow-right"></i> Agile Vorgehnsweise 
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Mithilfe Agilier Methoden kommen wir schnell zu unserem Ziel und können dabei immer auf Veränderungen der Anforderungen regaieren. Ihre Wünsche stehen dabei im Mittelpunkt unserer Bemühungen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fal fa-long-arrow-right"></i> Langjährige Erfahrung
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Durch unsere Langjährige Erfarhung in Theorie und Praxis der IT können wir ihnen mit Maßgeschneiderten Lösungen helfen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <i class="fal fa-long-arrow-right"></i> Akuellste IT Kenntnisse
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Wir möchten ihnen ein möglichst nachhaltiges Produkt liefern, deswegen benutzen wir nur die neusten Techniken. </p>
                            </div>
                        </div>
                    </div> <!-- card -->
                </div> <!-- accordion -->
            </div>
            <div class="col-lg-6">
                <div class="our-choose-counter-area mt-30">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                <sub><span class="counter">27</span> <sup>+</sup></sub>
                                <span>Erflogreiche Projekte</span>
                                <p>Mithilfe unserer großen Projekt Erfahrung können wir ihnen optimal helfen</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s"
                                data-wow-delay="0s">
                                <sub><span class="counter">104</span> <sup>+</sup></sub>
                                <span>Business Partner</span>
                                <p>Sie profitieren durch unser großes Netzwerk an Business Partnern, indem wir ihnen immer die besten Konditionen anbieteen können.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                <sub><span class="counter">14</span> <sup>+</sup></sub>
                                <span>Zufriedene Kunden</span>
                                <p>Die Menge unserer Zufriedenen Kunden wächst stetig an.</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s"
                                data-wow-delay="0s">
                                <sub><span class="counter">8</span> <sup>+</sup></sub>
                                <span>Berufserfarhung</span>
                                <p>Unsere Berufserfarhung in der Technologie Branche wird ihnen helfen ihre probleme Optimal lösen.</p>
                            </div>
                        </div> <!-- our choose counter -->
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== OUE CHOOSE PART ENDS ======-->


<!--====== ABOUT HISTORY PART START ======-->
<div class="about-history-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">Wie wir arbeiten</h2>
                    <p>Agile Software Entwicklung steht bei uns im Mittelpunkt, um pass genau auf ihren Individualisierungsgrad eigehen zu können. Agile Methoden helfen dabei, Entwicklungsschritte besser zu priorisieren und erste Projekt Abschnitte früher veröffentlichen zu können.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="history-item  pt-240">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/design_und_entwicklungsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>2. Phase - Design- und Entwicklungphase</span>
                        <p>In jeweils kurzen Sprints (2-3 Wochen) entsteht im Anschluss, im engen austausch mit ihnen, ihre Web-Anwendung. Ziel der Design und Entwicklungphase ist es in regemäßigen Abschnitten bereits in sich funktionierende Features veröffentlichen zu köennen.</p>
                    </div>
                    <div class="number-box">
                        <span>02</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/weiternetiwcklungsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>4. Phase - Rollout und Weiterentwicklung</span>
                        <p>Auch nach Abschluss der Entwicklung ihrer Mobilen Anwendung, Webseite oder auch Webshop, stehen wir ihnen immer unterstützend zur Seite. Bei weiteren Anforderungen wie Schnittstellenentwicklungen so wie fortlaufender Qualitätssicherung, können sich sich als zuverlässigen Partner an ihrer Seite verlassen. </p>
                    </div>
                    <div class="number-box">
                        <span>04</span>
                    </div>
                    <div class="number-box-2">
                        <i class="fal fa-plus"></i>
                    </div>
                </div> <!-- history item -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/konzeptionsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>1. Phase - Konzeption</span>
                        <p>Initial difinieren wir mit ihnen zusammen die Anforderungen an das Webseiten, App-Projekt oder auch Webshop Projekt. Dabei steht Usability und Benutzerführung bei uns immer im Fordergrund. Aus diesen Anforderungen entsteht ein umfassender Backlog, welcher mit ihnen zusammen priorisiert wird, um daraus einen agilen Projektplan entwicklen zu können.</p>
                        <h4 class="title"></h4>
                    </div>
                    <div class="number-box">
                        <span>01</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/testing.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>3. Phase - Testing- und Qualitätssicherung</span>
                        <p>Um die Qulität des Proejekts im Rahmen der Entwicklung ständig überwachen zu können, setzten wit Automatisierte Überwachungstools ein. Durch den flexiblen Ablauf des Projekts können sie als Kunde in jeder Phase des Projekts ihre Ideen einbringen, während wir uns um die Entwicklung ihrer Anwendung kümmern.</p>
                         </div>
                    <div class="number-box">
                        <span>03</span>
                    </div>
                </div> <!-- history item -->
           
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== ABOUT HISTORY PART ENDS ======-->
<app-footer></app-footer>