<app-header></app-header>
<div style="padding-top: 150px;">

    <app-whatwedid></app-whatwedid>
</div>

<!--====== ABOUT HISTORY PART START ======-->
<div class="about-history-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">Wie wir arbeiten</h2>
                    <p>Agile Software Entwicklung steht bei uns im Mittelpunkt, um pass genau auf ihren Individualisierungsgrad eigehen zu können. Agile Methoden helfen dabei, Entwicklungsschritte besser zu priorisieren und erste Projekt Abschnitte früher veröffentlichen zu können.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="history-item  pt-240">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/design_und_entwicklungsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>2. Phase - Design- und Entwicklungphase</span>
                        <p>In jeweils kurzen Sprints (2-3 Wochen) entsteht im Anschluss, im engen austausch mit ihnen, ihre Web-Anwendung. Ziel der Design und Entwicklungphase ist es in regemäßigen Abschnitten bereits in sich funktionierende Features veröffentlichen zu köennen.</p>
                    </div>
                    <div class="number-box">
                        <span>02</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/weiternetiwcklungsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>4. Phase - Rollout und Weiterentwicklung</span>
                        <p>Auch nach Abschluss der Entwicklung ihrer Mobilen Anwendung, Webseite oder auch Webshop, stehen wir ihnen immer unterstützend zur Seite. Bei weiteren Anforderungen wie Schnittstellenentwicklungen so wie fortlaufender Qualitätssicherung, können sich sich als zuverlässigen Partner an ihrer Seite verlassen. </p>
                    </div>
                    <div class="number-box">
                        <span>04</span>
                    </div>
                    <div class="number-box-2">
                        <i class="fal fa-plus"></i>
                    </div>
                </div> <!-- history item -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/konzeptionsphase.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>1. Phase - Konzeption</span>
                        <p>Initial difinieren wir mit ihnen zusammen die Anforderungen an das Webseiten, App-Projekt oder auch Webshop Projekt. Dabei steht Usability und Benutzerführung bei uns immer im Fordergrund. Aus diesen Anforderungen entsteht ein umfassender Backlog, welcher mit ihnen zusammen priorisiert wird, um daraus einen agilen Projektplan entwicklen zu können.</p>
                        <h4 class="title"></h4>
                    </div>
                    <div class="number-box">
                        <span>01</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/testing.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>3. Phase - Testing- und Qualitätssicherung</span>
                        <p>Um die Qulität des Proejekts im Rahmen der Entwicklung ständig überwachen zu können, setzten wit Automatisierte Überwachungstools ein. Durch den flexiblen Ablauf des Projekts können sie als Kunde in jeder Phase des Projekts ihre Ideen einbringen, während wir uns um die Entwicklung ihrer Anwendung kümmern.</p>
                         </div>
                    <div class="number-box">
                        <span>03</span>
                    </div>
                </div> <!-- history item -->
           
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== ABOUT HISTORY PART ENDS ======-->
<app-footer></app-footer>