<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div style="padding-top: 100px;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                            <div class="blog-details-top">
                                <span>{{'ECOMMERCE.SERVICE'| translate }}</span>
                                <h2 class="title">{{'ECOMMERCE.HEADER'| translate }}</h2>

                            </div>
                            <div class="blog-details-bath ">
                                <div class="blog-details-confarance">
                                    <div class="wow fadeInLeft mb-20 pt-20" data-wow-duration="1s" data-wow-delay="0s">

                                        <p>{{'ECOMMERCE.TEXT1'| translate }}
                                        </p>
                                    </div>


                                    <div class="confarance-flex d-flex mt-20 mb-20">
                                        <div style="padding-top: 50px;" class="confarance-thumb-1 wow fadeInLeft mb-20"
                                            data-wow-duration="1s" data-wow-delay="0s">
                                            <img src="assets/images/sklaierung_durch_ecommerce.jpg" alt="">
                                        </div>
                                        <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20"
                                            data-wow-duration="1s" data-wow-delay="0s">
                                            <h4>{{'ECOMMERCE.ADVISE1'| translate }}</h4>

                                            <p> {{'ECOMMERCE.TEXTAD1'| translate }}</p>
                                        </div>
                                    </div>
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <h4>{{'ECOMMERCE.ADVISE2'| translate }}</h4>
                                        <p>{{'ECOMMERCE.TEXTAD2'| translate }}
                                        </p>
                                    </div>

                                </div>



                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4>{{'ECOMMERCE.ADVISE3'| translate }}</h4>
                                    <p>{{'ECOMMERCE.TEXTAD3'| translate }}
                                    </p>
                                </div>

                                <div class="row align-items-center pt-30">
                                    <div class="col-lg-5 wow fadeInLeft mb-20" data-wow-duration="1s"
                                        data-wow-delay="0s">
                                        <div class="team-details-thumb">
                                            <img src="assets/images/Risikomangment_im_ecommerce.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                                        <h4>{{'ECOMMERCE.ADVISE4'| translate }}</h4>
                                        <p class="pt-30">{{'ECOMMERCE.TEXTAD4'| translate }}</p>
                                    </div>


                                </div>
                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4>{{'ECOMMERCE.ADVISE5'| translate }}</h4>
                                    <p>{{'ECOMMERCE.TEXTAD5'| translate }}</p>
                                </div>
                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <h4>{{'ECOMMERCE.ADVISE6'| translate }} </h4>
                                    <p>{{'ECOMMERCE.TEXTAD6'| translate }}</p>

                                </div>
                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="1s">
                                    <h4>{{'ECOMMERCE.ADVISE7'| translate }}</h4>
                                    <p>{{'ECOMMERCE.TEXTAD7'| translate }}

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->

<app-contact-component></app-contact-component>
<app-footer></app-footer>