<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div style="padding-top: 100px;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                            <div class="blog-details-top">
                                <span>{{'WEBDESIGN.SERVICE'| translate }}</span>
                                <h2 class="title">{{'WEBDESIGN.HEADER'| translate }}</h2>

                            </div>
                            <div class="blog-details-bath ">
                                <div class="blog-details-confarance">
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>{{'WEBDESIGN.TEXT1'| translate }}</p>
                                    </div>


                                    <div class="confarance-flex d-flex mt-20 mb-20">
                                        <div class="confarance-thumb-1 wow fadeInLeft mb-20" data-wow-duration="1s"
                                            data-wow-delay="0s">
                                            <img src="assets/images/webdesign.jpeg" alt="">
                                        </div>
                                        <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20"
                                            data-wow-duration="1s" data-wow-delay="0s">

                                            <p>{{'WEBDESIGN.TEXT2'| translate }}

                                            </p>
                                        </div>
                                    </div>
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>{{'WEBDESIGN.TEXT3'| translate }}
                                        </p>
                                    </div>

                                </div>



                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4 class="title">{{'WEBDESIGN.HEADER2'| translate }}</h4>
                                    

                                    <p>

                                        {{'WEBDESIGN.TEXT4'| translate }}
                                    </p>

                                    <ul>
                                        <li><i class="fal fa-check"></i> {{'WEBDESIGN.LI1'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'WEBDESIGN.LI2'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'WEBDESIGN.LI3'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'WEBDESIGN.LI4'| translate }}</li>

                                    </ul>
                                    <h5 class="pt-30">{{'WEBDESIGN.HEADER3'| translate }}</h5>
                                   
                                    <ul>
                                        <li><i class="fal fa-clear"></i> {{'WEBDESIGN.LI5'| translate }}</li>
                                        <li><i class="fal fa-clear"></i> {{'WEBDESIGN.LI6'| translate }}</li>
                                        <li><i class="fal fa-clear"></i> {{'WEBDESIGN.LI7'| translate }}</li>
                                    </ul>
                                    <h5 class="pt-30"> {{'WEBDESIGN.TEXTHELP'| translate }}</h5>
                                    
                                </div>


                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->

<app-contact-component></app-contact-component>
<app-footer></app-footer>