<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div style="padding-top: 100px;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                            <div class="blog-details-top">
                                <span>Unsere Leistung</span>
                                <h2 class="title">Webdesign</h2>

                            </div>
                            <div class="blog-details-bath ">
                                <div class="blog-details-confarance">
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>Eine veraltete, verwirrende oder nicht funktionale Webseite wird ihrer Marke
                                            nachhaltig schaden. Um einen Kunden in den ersten Sekunden von ihrem Produkt
                                            überzeugen zu können, spielt ihr Webauftritt eine große Rolle. Wir von
                                            Fsquared Media sind darauf spezialisiert ihre Zielgruppe zu analysieren und
                                            einen optimalen Online Auftritt für sie zu schaffen. </p>
                                    </div>


                                    <div class="confarance-flex d-flex mt-20 mb-20">
                                        <div class="confarance-thumb-1 wow fadeInLeft mb-20" data-wow-duration="1s"
                                            data-wow-delay="0s">
                                            <img src="assets/images/webdesign.jpeg" alt="">
                                        </div>
                                        <div class="confarance-thumb-2 pt-30 wow fadeInRight mb-20"
                                            data-wow-duration="1s" data-wow-delay="0s">

                                            <p> Mithilfe von ansprechendem Webdesign wird ihrer Webseite ein
                                                einheitlicher Look verliehen. So ist es notwendig, in der Planung der
                                                Webseite schon alle Teilaspekte wie die Struktur und dem Layout mit
                                                Bildern, Farben, Schriftarten und Grafiken zu beachten.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>Webdesign besteht aus verschiedenen Komponenten: Grafikdesign, User
                                            Experience, Suchmaschinenoptimierung und Content Erstellung. Unsere Aufgabe
                                            ist es, sie in jedem dieser Schritte zu betreuen und ihnen ein bestmögliches
                                            Ergebnis liefern zu können.
                                        </p>
                                    </div>

                                </div>



                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4 class="title">Unsere Goes und Nogoes zum Thema Webdesign:</h4>
                                    

                                    <p>

                                        Wirkungsvolles Webdesign bringt Vorteile zusammen, die die Conversionrate ihres
                                        Produkts deutlich steigern können.
                                    </p>

                                    <ul>
                                        <li><i class="fal fa-check"></i> Ansprechende Nutzung von Negativraum
                                        </li>
                                        <li><i class="fal fa-check"></i> Simple Benutzerführung dem User sollte immer
                                            klar sein, welche Optionen er hat
                                            Call to Action aufrufe</li>
                                        <li><i class="fal fa-check"></i> Responsive Design sie sollten wissen, ob ihre
                                            Zielgruppe vermehrt ihre Webseite
                                            mit mobilen Geräten aufruft</li>
                                        <li><i class="fal fa-check"></i> Relevanter und hochwertiger Content</li>

                                    </ul>
                                    <h5 class="pt-30">Vermeiden sollten sie folgende Dinge:</h5>
                                   
                                    <ul>
                                        <li><i class="fal fa-clear"></i> Ablenkende Bilder und Hintergründe. Jedes Bild
                                            sollte relevant zum Thema sein
                                        </li>
                                        <li><i class="fal fa-clear"></i> Kein Responsive Design</li>
                                        <li><i class="fal fa-clear"></i> Irrelevante Informationen die nur als Fülltext
                                            dienen</li>
                                    </ul>
                                    <h5 class="pt-30"> Wir helfen ihnen bei jedem dieser Schritte und werden sie optimal beraten.</h5>
                                    
                                </div>


                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->

<app-contact-component></app-contact-component>
<app-footer></app-footer>