<!--====== OUE CHOOSE PART START ======-->
<div class="our-choose-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mt-30">
                    <span>Ihr vertrauenswürdiger Partner</span>
                    <h3 >Hand in Hand Lösen wir ihr Anliegen</h3>
                </div> <!-- section title -->
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <i class="fal fa-long-arrow-right"></i> In jedem Prozessschritt behalten sie die Kontrolle
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Unser Ziel ist es ihnen in jedem Prozessschritt die vollste Transparanz zu gewähren. Wir freuen uns darauf ihr Feedback in jeder Phase zu berücksichtigen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fal fa-long-arrow-right"></i> Agile Vorgehnsweise 
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Mithilfe Agilier Methoden kommen wir schnell zu unserem Ziel und können dabei immer auf Veränderungen der Anforderungen regaieren. Ihre Wünsche stehen dabei im Mittelpunkt unserer Bemühungen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fal fa-long-arrow-right"></i> Langjährige Erfahrung
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Durch unsere Langjährige Erfarhung in Theorie und Praxis der IT können wir ihnen mit Maßgeschneiderten Lösungen helfen.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <i class="fal fa-long-arrow-right"></i> Akuellste IT Kenntnisse
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Wir möchten ihnen ein möglichst nachhaltiges Produkt liefern, deswegen benutzen wir nur die neusten Techniken. </p>
                            </div>
                        </div>
                    </div> <!-- card -->
                </div> <!-- accordion -->
            </div>
            <div class="col-lg-6">
                <div class="our-choose-counter-area mt-30">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                <sub><span class="counter">27</span> <sup>+</sup></sub>
                                <span>Erflogreiche Projekte</span>
                                <p>Mithilfe unserer großen Projekt Erfahrung können wir ihnen optimal helfen</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s"
                                data-wow-delay="0s">
                                <sub><span class="counter">104</span> <sup>+</sup></sub>
                                <span>Business Partner</span>
                                <p>Sie profitieren durch unser großes Netzwerk an Business Partnern, indem wir ihnen immer die besten Konditionen anbieteen können.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                <sub><span class="counter">14</span> <sup>+</sup></sub>
                                <span>Zufriedene Kunden</span>
                                <p>Die Menge unserer Zufriedenen Kunden wächst stetig an.</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s"
                                data-wow-delay="0s">
                                <sub><span class="counter">8</span> <sup>+</sup></sub>
                                <span>Berufserfarhung</span>
                                <p>Unsere Berufserfarhung in der Technologie Branche wird ihnen helfen ihre probleme Optimal lösen.</p>
                            </div>
                        </div> <!-- our choose counter -->
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== OUE CHOOSE PART ENDS ======-->