<!--====== OUE CHOOSE PART START ======-->
<div class="our-choose-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mt-30">
                    <span>{{'WHATWEDID.SPAN'| translate }}</span>
                    <h3>{{'WHATWEDID.HEADER'| translate }}</h3>
                </div> <!-- section title -->
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <i class="fal fa-long-arrow-right"></i> {{'WHATWEDID.BOXHEADER1'| translate }}
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{'WHATWEDID.BOXTEXT1'| translate }}</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fal fa-long-arrow-right"></i> {{'WHATWEDID.BOXHEADER2'| translate }}
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{'WHATWEDID.BOXTEXT2'| translate }}</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fal fa-long-arrow-right"></i> {{'WHATWEDID.BOXHEADER3'| translate }}
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{'WHATWEDID.BOXTEXT3'| translate }}</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <i class="fal fa-long-arrow-right"></i> {{'WHATWEDID.BOXHEADER4'| translate }}
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{'WHATWEDID.BOXTEXT4'| translate }}</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                </div> <!-- accordion -->
            </div>
            <div class="col-lg-6">
                <div class="our-choose-counter-area mt-30">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                <sub><span class="counter">27</span> <sup>+</sup></sub>
                                <span>{{'WHATWEDID.NUMHEADER1'| translate }}</span>
                                <p>{{'WHATWEDID.NUMTEXT1'| translate }}</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s"
                                data-wow-delay="0s">
                                <sub><span class="counter">104</span> <sup>+</sup></sub>
                                <span>{{'WHATWEDID.NUMHEADER2'| translate }}</span>
                                <p>{{'WHATWEDID.NUMTEXT2'| translate }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                <sub><span class="counter">19</span> <sup>+</sup></sub>
                                <span>{{'WHATWEDID.NUMHEADER3'| translate }}</span>
                                <p>{{'WHATWEDID.NUMHEADER3'| translate }}</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s"
                                data-wow-delay="0s">
                                <sub><span class="counter">13</span> <sup>+</sup></sub>
                                <span>{{'WHATWEDID.NUMHEADER4'| translate }}</span>
                                <p>{{'WHATWEDID.NUMTEXT4'| translate }}</p>
                            </div>
                        </div> <!-- our choose counter -->
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== OUE CHOOSE PART ENDS ======-->