<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container" style="padding-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard mt-30" routerLink='/webdesign'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/webdesign.jpeg" alt="blog">
                        </div>
                        <div  class="blog-standard-content">
                            <span>Webdesign</span>
                            <h2 class="title">{{'SERVICES-OVERVIEW.WEBDESIGN-TITLE'| translate }}</h2>
                           
                            <p>{{'SERVICES-OVERVIEW.WEBDESIGN-TEXT'| translate }}</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/webdesign'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/ecommerce'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/sklaierung_durch_ecommerce.jpg" alt="blog">
                        </div>
                        <div class="blog-standard-content">
                            <span>E-Commerce</span>
                            <h2 class="title">{{'SERVICES-OVERVIEW.ECOMMERCE-TITLE'| translate }}</h2>
                            <p>{{'SERVICES-OVERVIEW.ECOMMERCE-TEXT'| translate }}</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/ecommerce' ><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/softwaresolutions'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/Individuelle_Software_loesungen.jpg" alt="blog">
                        </div>
                        <div class="blog-standard-content">
                            <span>Software Solutions</span>
                            <h2 class="title">{{'SERVICES-OVERVIEW.SOFTWARE-TITLE'| translate }}</h2>
                            
                            <p>{{'SERVICES-OVERVIEW.SOFTWARE-TEXT'| translate }}</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a rrouterLink='/softwaresolutions'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/webdesign'>
                        <div class="blog-standard-thumb">
                        </div>
                        <div class="blog-standard-content">
                            <span>Social Media</span>
                            <h2 class="title">Comming soon</h2>
                            
                            <p>Comming soon</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/socialmedia'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
          
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
