<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container" style="padding-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard mt-30" routerLink='/webdesign'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/blog-standard-1.jpg" alt="blog">
                        </div>
                        <div  class="blog-standard-content">
                            <span>Webdesign</span>
                            <h2 class="title">Lorem ipsum dolor sit amet, consecte cing elit, sed do eiusmod tempor.</h2>
                           
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/webdesign'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/ecommerce'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/blog-standard-2.jpg" alt="blog">
                        </div>
                        <div class="blog-standard-content">
                            <span>E-Commerce</span>
                            <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/ecommerce' ><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/softwaresolutions'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/blog-standard-2.jpg" alt="blog">
                        </div>
                        <div class="blog-standard-content">
                            <span>Software Solutions</span>
                            <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a rrouterLink='/softwaresolutions'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-standard mt-30" routerLink='/webdesign'>
                        <div class="blog-standard-thumb">
                            <img src="assets/images/blog-standard-2.jpg" alt="blog">
                        </div>
                        <div class="blog-standard-content">
                            <span>Social Media</span>
                            <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                            <div class="blog-flex">
                               
                                <div class="blog-right">
                                    <a routerLink='/webdesign'><i class="fal fa-arrow-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
          
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
