<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<app-header></app-header>

<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div style="padding-top: 100px;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                            <div class="blog-details-top">
                                <span>{{'SOCIALMEDIA.SERVICE'| translate }}</span>
                                <h2 class="title">{{'SOCIALMEDIA.HEADER'| translate }}</h2>

                            </div>
                            <div class="blog-details-bath ">
                                <div class="blog-details-confarance">
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>{{'SOCIALMEDIA.TEXT1'| translate }}</p>
                                    </div>


                                    
                                    <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                        <p>{{'SOCIALMEDIA.TEXT2'| translate }}
                                        </p>
                                    </div>

                                </div>



                                <div class="wow fadeInLeft mb-20" data-wow-duration="1s" data-wow-delay="0s">
                                    <h4 class="title">{{'SOCIALMEDIA.HEADER2'| translate }}</h4>
                                    

                                    <p>

                                        {{'SOCIALMEDIA.TEXT4'| translate }}
                                    </p>

                                    <ul>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI1'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI2'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI3'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI4'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI44'| translate }}</li>

                                    </ul>
                                    <h5 class="pt-30">{{'SOCIALMEDIA.HEADER3'| translate }}</h5>
                                   
                                    <ul>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI5'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI6'| translate }}</li>
                                        <li><i class="fal fa-check"></i> {{'SOCIALMEDIA.LI7'| translate }}</li>
                                    </ul>
                                    <h5 class="pt-30"> {{'SOCIALMEDIA.TEXTHELP'| translate }}</h5>
                                    
                                </div>


                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->

<app-contact-component></app-contact-component>
<app-footer></app-footer>
<app-contact-component></app-contact-component>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>